{% extends "layouts/default.html" %}
{% load static %}

{% block content %}
<div ng-controller="AddQuizController as vm">
    <form method="POST" action="{% url 'quizes:add' %}">
        {% csrf_token %}
        {% verbatim %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" ng-model="title" class="form-control input-lg" id="title" placeholder="Quiz title">
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="title">Start date time</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.startdate" is-open="vm.startdatepicker.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="start_date" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <div uib-timepicker ng-model="vm.startTime"></div>
                            <input type="hidden" ng-model="vm.startTime" name="start_time" value="{{vm.startTime | date:'shortTime' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="title">End date time</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.endtime" is-open="vm.enddatepicker.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="end_date" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <div uib-timepicker ng-model="vm.endTime"></div>
                                <input type="hidden" ng-model="vm.endTime" name="end_time" value="{{vm.endTime | date:'shortTime' }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <div class="row"  ng-repeat="question in vm.questions">
                    <div class="col col-sm-10">
                        <div class="text-left">
                            <div class="row">
                                <div class="col col-sm-12">
                                    <div class="form-group">
                                        <label for="question_{{$index}}">Question</label>
                                        <input type="text" name="question[{{$index}}]" class="form-control" id="question_{{$index}}" placeholder="Question" ng-model="question.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-offset-1 col-sm-6" ng-repeat="option in question.options">
                                    <div class="form-group">
                                        <label for="option_{{$parent.$index}}_{{$index}}">Option</label>
                                        <input name="option[{{$parent.$index}}][{{$index}}]"" type="text" class="form-control" id="option_{{$index}}" placeholder="Question" ng-model="option.value">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="correct[{{$parent.$index}}][{{$index}}]" ng-model="option.correct"> Correct answer
                                        </label>
                                    </div>
                                    <div ng-if="$last">
                                        <div class="btn btn-primary" ng-click="vm.addOption(question)" >
                                        Add option
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-primary" type="button" ng-click="vm.addQuestion()">
                        Add question
                    </button>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        {% endverbatim %}
    </form>
</div>
{% endblock %}


{% block scriptsAppend %}
    <script type="text/javascript" src="{% static 'js/add-quiz.js' %}" ></script>
{% endblock %}
