{% extends "layouts/default.html" %}

{% block content %}
    <table class="table table-striped">
        <thead> 
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th class="text-right">Participated</th>
            </tr>
        </thead>
    {% for quiz in quizes %}
        <tr>
            <td>{{quiz.title}}</td>
            <td>{{quiz.status}}</td>
            <td class="text-right">
                {{ quiz.testdetails_set.count }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
