{% extends "layouts/default.html" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    {% for quiz in quizes %}
        <tr>
            <td>{{quiz.title}}</td>
            <td>{{quiz.status}}</td>
            <td class="text-right">
                {% if not quiz.has_started %}
                <a class="btn btn-primary btn-sm" href="{% url 'quizes:add' %}">
                    Manage
                </a>
                {% endif %}

                <a class="btn btn-primary btn-sm" href="">
                    See dashboard
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
