{% extends "layouts/default.html" %}

{% block content %}
    <h3>{{quiz.title}}</h3>

    <h4>Answer the following questions</h4>
    <form method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <h5>Q. {{question.value}} </h5>
        <div>
            {% for option in question.answerchoices_set.all %}
            <div class="radio">
                <label>
                    <input type="radio" name="for_q_{{question.id}}" value="{{option.id}}">
                    {{option.value}}
                </label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
{% endblock %}
