{% extends "layouts/default.html" %}

{% block content %}
    <h3>{{quiz.title}}</h3>

    {% for answer in answers %}
    <h5>Q. {{answer.question.value}} </h5>
    <div>
        <strong>Actual answer: </strong> {{ answer.question.get_answers.0.value }}
    </div>
    <div>
        <strong>Your answer: </strong> {{ answer.answer.value }}
    </div>
    <div>
        <strong>Result: </strong>
        {% if answer.is_correct %}
            <span class="text-success">
                Right answer <span class="glyphicon glyphicon-ok-sign"></span>
            </span>
        {% else %}
            <span class="text-danger">
                Wrong answer <span class="glyphicon glyphicon-remove-sign"></span>
            </span>
        {% endif %}
    </div>
    {% endfor %}
    <hr>
    <div>
        <strong>Total questions: </strong> {{total}}
    </div>
    <div>
        <strong>Result: </strong> {{marks}}/{{total}}
    </div>
{% endblock %}
