{% extends "layouts/default.html" %}

{% block content %}
    <table class="table table-striped">
        <thead> 
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th class="text-right">Total students participated</th>
                <th class="text-right">Your students particpated</th>
                <th></th>
            </tr>
        </thead>
    {% for item in data %}
        <tr>
            <td>{{item.quiz.title}}</td>
            <td>{{item.quiz.status}}</td>
            <td class="text-right">
                {{ item.quiz.testdetails_set.count }}
            </td>
            <td class="text-right">
                {{ item.count }}
            </td>
            <td>
                <a type="button" class="btn btn-primary" href="{% url 'schools:dashboard-detail' item.quiz.id %}">
                    View details
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
