{% extends "layouts/default.html" %}

{% block content %}
    {% if quiz %}
        <h2>Quiz: {{quiz.title}}</h2>
        <h5><strong>Status: </strong>{{quiz.status}}</h5>
    {% endif %}
    {% if data and data|length > 0 %}
        <table class="table table-striped">
            <thead> 
                <tr>
                    <th>Student</th>
                    <th class="text-right">Participated</th>
                </tr>
            </thead>
        {% for item in data %}
            <tr>
                <td>{{item.student.login.username}}</td>
                <td class="text-right">
                    {% if item.participated %}
                        <span class="text-success">
                            Participated <span class="glyphicon glyphicon-ok-sign"></span>
                        </span>
                    {% else %}
                        <span class="text-danger">
                            Not participated <span class="glyphicon glyphicon-remove-sign"></span>
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
