{% if user.profile.is_admin %}
<li>
    <a href="{% url 'quizes:add' %}">Create quiz</a>
</li>
{% endif %}

{% if user.profile.is_admin or user.profile.is_staff %}
<li>
    <a href="{% url 'schools:dashboard' %}">Dashboard</a>
</li>
{% endif %}
<li uib-dropdown class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
		<span class="glyphicon glyphicon-user"></span>
	</a>
	<ul class="dropdown-menu" uib-dropdown-menu>
		<li>
            <a>
            {{ user.username }}
            {% if user.profile.is_staff %}
                (Staff)
            {% elif user.profile.is_student %}
                (Student)
            {% elif user.profile.is_admin %}
                (Admin)
            {% endif %}
            </a>
        </li>
		<li role="seperator" class="divider"></li>
		<li><a href="{% url 'schools:logout' %}">Logout</a>
	</ul>
<li>
