{% extends "layouts/default.html" %}

{% block content %}
    <table class="table table-striped">
        <thead> 
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    {% for quiz in quizes %}
        <tr>
            <td>{{quiz.title}}</td>
            <td>{{quiz.status}}</td>
            <td class="text-right">
                {% if quiz.is_open %}
                <a class="btn btn-primary btn-sm" href="{% url 'quizes:quiz' quiz.id %}">
                    Participate            
                </a>
                {% endif %}
            </td>
            <td class="text-right">
                <a class="btn btn-primary btn-sm" href="{% url 'quizes:result' quiz.id %}">
                    See result            
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
