{% extends "layouts/default.html" %}

{% block content %}
    <div class="col col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form method="POST" action="{% url 'schools:register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="re-password">Re-enter password</label>
                        <input type="password" class="form-control" name="re-password" id="re-password" placeholder="Re-enter password">
                    </div>
                    <div class="form-group">
                        <label>Account type</label>
                        <select name="user_type" class="form-control">
                            <option  value="staff">Staff</option>
                            <option value="stud">Student</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select school</label>
                        <select name="school" class="form-control">
                            {% for school in schools %}
                            <option value="{{school.id}}">{{school.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="username">Standard</label>
                        <input type="number" class="form-control" name="standard" id="standard" placeholder="Standard">
                        (for students only)
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
