{% load staticfiles %}

{% load accounts %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/theme/forms.css' %}" /> -->
        <link rel="stylesheet" tyep="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css"> -->
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body ng-app="puzzled.main">
        <nav class="navbar navbar-default header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Puzzled</a>
                </div>
                <div class="collapse navbar-collapse" ng-controller="NavController as vm">
                    <ul class="nav navbar-nav navbar-right">
                        {% loginstatus %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% if message %}
                <div class="alert alert-{{message.type}}" role="alert">
                    <strong>{{message.head}}</strong>
                    {{ message.value }}
                </div>
            {% endif %}
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <hr>
                <footer>
                </footer>
            </div>
        </div> <!-- /container -->

        {% block scriptsPrepend %}
        {% endblock %}
        <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" ></script> -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-touch.min.js"></script> -->
        <script type="text/javascript" src="{% static 'js/ui-bootstrap.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls.js' %}" ></script>
        <!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script> -->
        <script type="text/javascript" src="{% static 'js/index.js' %}" ></script>

        <!-- Plugin JavaScript -->
        <!-- <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/jquery.fittext.js"></script>
        <script src="/js/wow.min.js"></script> -->
        {% block scriptsAppend %}
        {% endblock %}
    </body>
</html>
